.card {
    display: grid;
    grid-template:
        "title" min-content
        "content" auto
        / 100%;
    box-shadow: 0 0 0.5em #d9d9d9;
    background: #393f4d;
    padding: 0.5em;
    margin: 16px;
    border-radius: 15px 50px;
    color: #d9d9d9;
}

.card-title {
    grid-area: title;
    margin: 0;
    font-size: 1.25rem;
}

.card-image {
    grid-area: img;
    background-image: url("../img/card-image-small.jpg");
    height: auto;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.card-content {
    grid-area: content;
    font-size: 0.75em;
}

.btn-1 {
    background-color: #1d1e22;
    text-decoration: none;
    padding: 4px;
    margin-left: 0.5em;
    transition-duration: 0.4s;
    border-radius: 5px 15px 5px 15px;
}

.btn-1:hover {
    background-color: #feda6a;
    color: #1d1e22;
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .card {
        display: grid;
        grid-template:
                ".   ." min-content
                ".   title" auto
                "img content" auto
                "img content" auto
            / 2fr 4.5fr;
        grid-column-gap: 1em;
    }

    .card a {
        margin-left: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1079px) {
    .card {
        display: grid;
        grid-template:
            ".   ." min-content
            ".   title" auto
            "img content" auto
            "img content" auto
            / 1.5fr 5fr;
        grid-column-gap: 1.5em;
        box-shadow: 0 0 0.5em #d9d9d9;
        background: #393f4d;
        padding: 0.5em;
        margin: 16px;
        border-radius: 15px 50px;
        color: #d9d9d9;
    }

    .card a {
        margin-left: 0;
    }
}

@media screen and (min-width: 1080px) {
    .card {
        display: grid;
        grid-template:
            "img title" min-content
            "img content" auto
            / 1.5fr 4.5fr;
        grid-column-gap: 1.5em;
        box-shadow: 0 0 0.5em #d9d9d9;
        background: #393f4d;
        padding: 0.5em;
        margin: 16px;
        border-radius: 15px 50px;
        color: #d9d9d9;
    }

    .card a {
        margin-left: 0;
    }
}