.nav {
    grid-area: nav;
    overflow: hidden;
    background-color: #feda6a;
}

.nav a {
    color: #1d1e22;
    letter-spacing: 1px;
    transition-duration: 0.4s;
}

.nav a,
.nav input[type=text] {
    float: none;
    display: block;
    border: none;
    text-align: left;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
}

.nav a:hover {
    background-color: #393f4d;
    color: #feda6a;
}

.nav a.active {
    background-color: #2196f3;
    color: #d9d9d9;
}

/* search box */
.nav input[type=text] {
    color: #393f4d;
}

@media screen and (min-width: 601px) {
    .nav a,
    .nav input[type=text] {
        text-align: center;
        width: auto;
    }

    .nav a {
        float: left;
        letter-spacing: 2px;
        display: block;
    }

    .nav input[type=text] {
        display: block;
        float: right;
        padding: 6px;
        border: none;
        margin: 6px 12px 0 0;
    }
}