.nav {
    grid-area: nav;
    overflow: hidden;
    background-color: #feda6a;
}

.nav a {
    float: left;
    display: block;
    color: #1d1e22;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 2px;
}

.nav a:hover {
    background-color: #393f4d;
    color: #feda6a;
}

.nav a.active {
    background-color: #2196F3;
    color: #d9d9d9;
}

/* search box */
.nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}